*{
	margin: 0
	padding:0
	font-family: 'popping', sans-serif;
}
header{
  background-color: pink;
 padding: 40px;
}
nav{
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 1.em;
}
.logo img{
  height: 80px;
  width: 100%;
}
.menu{
  list-style-type: none;
  margin:0;
  padding:0;
  display: flex;

}
.menu li {
margin-right: 20px;

}
.menu li a{
  text-decoration: none;
  color:#333;
  font-weight: bold;
  padding: 10px;
}
.section_accessoirs{
    margin: 10px;
    height: max-height;
    padding: auto;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap: 10px;
}
.item1{
    padding: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: black ;
    text-align: center;
    background: rgba(0,0,0,0.6);
    z-index: -1;
    background-size: cover;
    background-image: url("img/femme3.jpg");

}
.item1 p {
  width: 60%;
  margin: auto;
  font-size: 16px;
  line-height: 1.9;
  padding-bottom: 12px;
}

.item1 img {
  width: 100%;
  height: 100%;
}

.item2{
  padding: 50px;
    display: grid;
    background-color:white;
    grid-template-columns: repeat(2,1fr);
    grid-gap: 5px;
}
h1{
text-align:center;
font-family: fantasy;
}
.img1{
  background-image: url("img/femme4.jpg");
 
}


.img2{
  background-image: url("img/femme2.jpg");
 
}
.img3{
  background-image: url("img/images5.jpg");

}
.img4{
  background-image: url("img/imgfille.jpg");
}
/*----------------Section produits-----------------*/
.nouveau_prod{
    margin: 35px;  
}
.nouveau_prod nav{
  margin-bottom: 50px;
}
.nouveau_prod li a{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: lighter;
    color: black;

}
.new{
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.4em ;
    font-weight: bold;

}
.new span, .colonne h2{
    text-decoration: underline crimson;
}
.produits{
    margin-bottom: 80px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 300px 300px ;
    gap: 15px;
    row-gap: 80px;
}
.produits img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.art{
    display: flex;
    flex-direction: column;
    text-align: center;
    font-family: fantasy;
}
.art:hover{
    transform: scale(1.2,1.2);

}
/*-----------------SEction Chloe collection-------------*/
.section_animation{
   position: relative;
  width: 100%; /* Largeur souhaitée de l'image */
  height: 400px; /* Hauteur souhaitée de l'image */
    background-image: url(img/image6.jpg);
    background-color: #645d5d;
    background-size: cover;
    background-position: center; 
    color: white; 
}
.text-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}
.section_animation .fash {
  animation: scroll 10s linear 10s infinite;
  white-space: nowrap;
  
}
@keyframes scroll {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
  
}
.section_animation .fash:hover {
  animation-play-state: paused;
}
/*--------------------Sections des produits tendances------------------------*/
.section {
  display: flex;
  margin-left: 100px;
}
.colonne {
  flex: 1;
  padding: 20px;
}
.image {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}
.image img{
  width: 100px;
  height: 100px;
  object-fit: cover;
  margin-right: 10px;
}
.infos {
  display: flex;
  flex-direction: column;
}
.prix {
  color: green;
  font-weight: bold;
}
/*--------------Section promotions----------------*/
.container {
  display: flex;
  justify-content: center;
  margin: 50px;
}
.box {
  flex-basis: 50%;
  height: 400px;
  border: 1px solid black;
  background-color: rgb(9, 51, 37);
}
.box img {
  width: 100%;
  height: 100%;
  object-fit:fill;
}
.content {
  font-weight: bold;
  text-align:center;
  color: yellowgreen;
  margin-top: 50px;
  padding: 10px;
}
/*---------------------------------section icones--------------------*/
.mes_icons{
  display: flex;
  margin: 50px;
}
.mes_icons i{
  margin-right: 10px;
  font-size: 2.5em;
  color: green;
}
.icn{
  flex: 1;
  display: flex;
  align-items: center;
}
.icn h6, p {
  margin: 0;
}
/*---------------------------------la dernière section --------------------*/
.last_section{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr  ;
  grid-template-rows: 300px  ;
  gap: 0px;
}
.last_section img{
width: 100%;
height: 100%;
object-fit: cover;
}
.lien-conteneur-photo{
position: relative;
}
.photo-hover{
position: absolute;
top:0;
bottom: 0;
left: 0;
right: 0;
background: rgba(245, 241, 241, 0.7) ;
font-size: 1.5em;
align-items: center;
justify-content: center;
color: white;

display: none;
}
.lien-conteneur-photo:hover
.photo-hover{
display: flex;
}
/*---------------------------------partie footer--------------------*/
footer{
  margin: 50px;
  text-align: center;
  color: #645d5d;
}
.informations{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  column-gap: 10px;
}
.inf h4,a, .footer-payment{
  margin: 15;
  /*font-size: 14px;*/
  text-decoration: none;
  color: gray;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  text-align: center;
}
.footer-payment img{
 font-size: 20px;
 width: 50px; 
 height: 50px;
 align-items: center;
}
.inf h4{
  color: black;
  font-size: 15px;
  

}
.footer-payment{
  display: flex;
  flex-direction: row;
}
.footer-social img{
  width: 2em;
  font-size: 10px;
  padding: 3px;
  margin-top: 15px;
}
form {
  position: relative;
}

form input {
  height: 30px;
  width: 100%;
  border: 1px solid gray;
  border-radius: 50px;
  font-size: 15px;
  color: #645d5d;
  padding: 10px;
}

form button {
  position: absolute;
  top: 0;
  left: 215px;
  height: 100%;
  padding: 10px;
}

.btn{
  font-size: 14px;
    color: #ffffff;
    background: #7c1414;
    font-weight: 600;
    border: none;
    text-transform: uppercase;
    display: inline-block;
    padding-right: 0;
    padding: 10px 20px;
    border-radius: 50px;
    margin-left: 45px;
}
hr {
  margin-top: 50px;
  margin-bottom: 20px;
  background-color: rgba(139, 133, 133, 0.5);
}
.copyright i{
color: red;
}

/* gestion de la responsivité*/
@media screen and (max-width: 768px) {

  nav {
    flex-direction: column;
  }

  .menu .submenu {
    margin-top: 10px;
    flex-direction: column;
  }

  .menu li, .submenu li {
    margin-right: 0;
    margin-bottom: 5px;
  }
  .fashion{
    display: flex;
    flex-direction: column;
  }
  .section, .informations {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
  }
  .mes_icons{
    margin-right: 15px;
    display: flex;
    flex-wrap: wrap;
  }
  form button{
    right: 0;
  }

}





